In [1]:
import numpy as np
import pandas as pd
import requests
import json
from splinter import Browser

from sqlalchemy import create_engine
from config import username, pw

In [9]:
df = pd.read_csv("DisneylandReviews.csv", encoding='ISO-8859-1')
reviews_df = df[df["Year_Month"] != "missing"]
reviews_df.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [10]:
df2 = pd.read_csv("webpage/data_for_plotting.csv")
data_for_plotting = pd.DataFrame(df2)
data_for_plotting.head()

,Review_ID,Rating,Reviewer_Location,Review_Text,Branch,Year,Month,is_good_review,review_clean,neg,...,word_money,word_hour,word_disappointed,word_great,word_close,word_love,word_poor,word_pay,word_people,word_waste
0,670772142,4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong,2019,4,1,ever disneyland anywhere find disneyland hong ...,0.000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0
1,670682799,4,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong,2019,5,1,since last time visit hk disneyland yet time s...,0.040,...,0.0,0.000000,0.0,0.085604,0.000000,0.000000,0.0,0.000000,0.0,0.0
2,670623270,4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong,2019,4,1,thanks god hot humid visit park otherwise woul...,0.024,...,0.0,0.071062,0.0,0.057092,0.075894,0.000000,0.0,0.000000,0.0,0.0
3,670607911,4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong,2019,4,1,hk disneyland great compact park unfortunately...,0.080,...,0.0,0.000000,0.0,0.077392,0.102879,0.085448,0.0,0.125551,0.0,0.0
4,670607296,4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong,2019,4,1,location city take around hour kowlon kid like...,0.000,...,0.0,0.193089,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0

In [11]:
rds_connection_string = "postgres:raw123@localhost:5432/disneyland_db"
engine = create_engine(f'postgresql://{username}:{pw}@localhost:5432/disneyland_db')

In [16]:
engine.table_names()

['reviews_data', 'data_for_plotting']

In [13]:
reviews_df.to_sql(name='reviews_data', con=engine, if_exists='replace', index=False)

In [15]:
data_for_plotting.to_sql(name='data_for_plotting', con=engine, if_exists='replace', index=False)