In [22]:
import numpy as np
import pandas as pd
import requests
import json
from splinter import Browser

from sqlalchemy import create_engine
from config import *

In [23]:
df = pd.read_csv("static/data/DisneylandReviews.csv", encoding='ISO-8859-1')
reviews_df = df[df["Year_Month"] != "missing"]
reviews_df.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong
4,670607296,4,2019-4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong

In [24]:
df2 = pd.read_csv("static/data/data_for_plotting.csv")
data_for_plotting = pd.DataFrame(df2)
data_for_plotting.head()

,Review_ID,Rating,Reviewer_Location,Review_Text,Branch,Year,Month,is_good_review,review_clean,neg,...,word_money,word_hour,word_disappointed,word_great,word_close,word_love,word_poor,word_pay,word_people,word_waste
0,670772142,4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong,2019,4,1,ever disneyland anywhere find disneyland hong ...,0.000,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0
1,670682799,4,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong,2019,5,1,since last time visit hk disneyland yet time s...,0.040,...,0.0,0.000000,0.0,0.085604,0.000000,0.000000,0.0,0.000000,0.0,0.0
2,670623270,4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong,2019,4,1,thanks god hot humid visit park otherwise woul...,0.024,...,0.0,0.071062,0.0,0.057092,0.075894,0.000000,0.0,0.000000,0.0,0.0
3,670607911,4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong,2019,4,1,hk disneyland great compact park unfortunately...,0.080,...,0.0,0.000000,0.0,0.077392,0.102879,0.085448,0.0,0.125551,0.0,0.0
4,670607296,4,United Kingdom,"the location is not in the city, took around 1...",Disneyland_HongKong,2019,4,1,location city take around hour kowlon kid like...,0.000,...,0.0,0.193089,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0

In [25]:
df3 = pd.read_csv("static/data/ReviewAnalysisRyan.csv")
ReviewAnalysisRyan = pd.DataFrame(df3)
ReviewAnalysisRyan.head()

,Review_ID,Rating,Reviewer_Location,Review_Text,Branch,Year,Month,is_good_review,review_clean,neg,...,word_yet,word_york,word_you,word_young,word_yr,word_yrs,word_yum,word_yummy,word_zero,word_zone
0,122944085,5,United States,Spotlessly clean and so organized considering ...,Disneyland_California,2011,10,1,spotlessly clean organize consider thousand vi...,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,290851203,5,United Kingdom,"Pricey but worth it, unfortunately the big thu...",Disneyland_Paris,2015,7,1,pricey worth unfortunately big thunder mountai...,0.115,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,168087311,4,Canada,"Disneyland is a magical place. Everyone, parti...",Disneyland_California,2013,7,1,disneyland magical place everyone particularly...,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,282417360,5,Pakistan,Disney land is a must when visiting Paris. The...,Disneyland_Paris,2015,6,1,disney land must visit paris frozen show best ...,0.028,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,160953212,3,India,"The HK Disneyland is definitely small, but it'...",Disneyland_HongKong,2012,9,0,hk disneyland definitely small definitely fun ...,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
rds_connection_string = "postgres:raw123@localhost:5432/disneyland_db"
engine = create_engine(f'postgresql://postgres:1999-2002Jik@localhost:5432/disneyland_db')
# if not database_exists(engine.url):
#     create_database(engine.url)
# # connection = engine.connect()
conn = engine.connect()

In [27]:
# rds_connection_string = (f"postgres:raw123@"+host":5432/"+database)
# engine = create_engine('postgresql://'+username+':' +
#                        pw + '@'+host+':5432/'+database)
# conn = engine.connect()

In [28]:
engine.table_names()

['reviews_data', 'data_for_plotting']

In [33]:
reviews_df.to_sql(name='reviews_data', con=engine, if_exists='replace', index=False)

In [34]:
data_for_plotting.to_sql(name='data_for_plotting', con=engine, if_exists='replace', index=False)

In [37]:
# file has to many columns, max columns in SQL is 1,600
# ReviewAnalysisRyan.to_sql(name='ReviewAnalysisRyan', con=engine, if_exists='replace', index=False)