In [ ]:
# pip install statsmodels

In [14]:
import numpy as np                 
import pandas as pd                
import matplotlib.pyplot as plt    
import statsmodels.api as sm       
from statsmodels.formula.api import ols, logit
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
word_df = pd.read_csv("Resources/all_reviews_data.csv")
word_cleaned = word_df.dropna(axis='columns', how='all')
word_cleaned

,Review_ID,Rating,Reviewer_Location,Review_Text,Branch,Year,Month,is_good_review,review_clean,neg,...,word_yet,word_york,word_you,word_young,word_yr,word_yrs,word_yum,word_yummy,word_zero,word_zone
0,122944085,5,United States,Spotlessly clean and so organized considering ...,Disneyland_California,2011,10,1,spotlessly clean organize consider thousand vi...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,290851203,5,United Kingdom,"Pricey but worth it, unfortunately the big thu...",Disneyland_Paris,2015,7,1,pricey worth unfortunately big thunder mountai...,0.115,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,168087311,4,Canada,"Disneyland is a magical place. Everyone, parti...",Disneyland_California,2013,7,1,disneyland magical place everyone particularly...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,282417360,5,Pakistan,Disney land is a must when visiting Paris. The...,Disneyland_Paris,2015,6,1,disney land must visit paris frozen show best ...,0.028,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,160953212,3,India,"The HK Disneyland is definitely small, but it'...",Disneyland_HongKong,2012,9,0,hk disneyland definitely small definitely fun ...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3999,290217727,5,Australia,There's a reason why they call Disneyland The...,Disneyland_California,2015,7,1,there's reason call disneyland happy place ear...,0.042,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4000,174264188,1,United Kingdom,I visited Disneyland Paris with my family (tee...,Disneyland_Paris,2013,8,0,visit disneyland paris family teenage daughter...,0.081,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4001,638583788,5,United States,What a great day we had we did so much before ...,Disneyland_California,2018,12,1,great day much great guide grandson amaze well...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4002,226159775,5,Philippines,It has been a childhood dream of mine to go to...,Disneyland_California,2013,10,1,childhood dream mine go disneyland whether you...,0.000,...,0.0,0.0,0.0,0.432261,0.0,0.0,0.0,0.0,0.0,0.0
4003,143521522,4,United Kingdom,Well my wife and I visted in October 2012 for ...,Disneyland_Paris,2012,10,1,well wife visted october parcs real complaint ...,0.030,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
word_working = word_cleaned.dropna()
word_working.head()

,Review_ID,Rating,Reviewer_Location,Review_Text,Branch,Year,Month,is_good_review,review_clean,neg,...,word_yet,word_york,word_you,word_young,word_yr,word_yrs,word_yum,word_yummy,word_zero,word_zone
0,122944085,5,United States,Spotlessly clean and so organized considering ...,Disneyland_California,2011,10,1,spotlessly clean organize consider thousand vi...,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,290851203,5,United Kingdom,"Pricey but worth it, unfortunately the big thu...",Disneyland_Paris,2015,7,1,pricey worth unfortunately big thunder mountai...,0.115,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,168087311,4,Canada,"Disneyland is a magical place. Everyone, parti...",Disneyland_California,2013,7,1,disneyland magical place everyone particularly...,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,282417360,5,Pakistan,Disney land is a must when visiting Paris. The...,Disneyland_Paris,2015,6,1,disney land must visit paris frozen show best ...,0.028,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,160953212,3,India,"The HK Disneyland is definitely small, but it'...",Disneyland_HongKong,2012,9,0,hk disneyland definitely small definitely fun ...,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
word_working.columns

Index(['Review_ID', 'Rating', 'Reviewer_Location', 'Review_Text', 'Branch',
       'Year', 'Month', 'is_good_review', 'review_clean', 'neg',
       ...
       'word_yet', 'word_york', 'word_you', 'word_young', 'word_yr',
       'word_yrs', 'word_yum', 'word_yummy', 'word_zero', 'word_zone'],
      dtype='object', length=2150)

In [5]:
Xtrain = word_working[["word_lines", "word_worth", "word_junk"]]
ytrain  = word_working[["is_good_review"]]
Xtrain

      word_lines  word_worth  word_junk
0            0.0    0.000000        0.0
1            0.0    0.102825        0.0
2            0.0    0.000000        0.0
3            0.0    0.139952        0.0
4            0.0    0.000000        0.0
...          ...         ...        ...
3999         0.0    0.000000        0.0
4000         0.0    0.049721        0.0
4001         0.0    0.000000        0.0
4002         0.0    0.000000        0.0
4003         0.0    0.000000        0.0

[4004 rows x 3 columns]

In [6]:
import statsmodels
import statsmodels.api as sm
log_reg = sm.Logit(ytrain, Xtrain).fit()

Optimization terminated successfully.
         Current function value: 0.654989
         Iterations 6

In [11]:
#Divides dataset into train and test groups
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

log_reg = sm.Logit(ytrain, Xtrain).fit()
print(rfe.summary())

C:\Users\ajrfl\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:72: FutureWarning: Pass n_features_to_select=3 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
C:\Users\ajrfl\anaconda3\envs\PythonAdv\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

AttributeError: 'RFE' object has no attribute 'summary'

In [ ]:
selected_features = df[['koi_disposition', 'koi_period', 'koi_fpflag_nt', 'koi_fpflag_ss', 'koi_fpflag_co', 'koi_fpflag_ec','koi_prad', 'koi_duration', 'koi_model_snr','koi_steff' ]]
selected_features