In [1]:
import pandas as pd
import numpy as np

In [4]:
all_df = pd.read_csv("Resources/all_reviews_data.csv", encoding='ISO-8859-1')
all_df

,Review_ID,Rating,Reviewer_Location,Review_Text,Branch,Year,Month,is_good_review,review_clean,neg,...,word_yet,word_york,word_you,word_young,word_yr,word_yrs,word_yum,word_yummy,word_zero,word_zone
0,122944085,5,United States,Spotlessly clean and so organized considering ...,Disneyland_California,2011,10,1,spotlessly clean organize consider thousand vi...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,290851203,5,United Kingdom,"Pricey but worth it, unfortunately the big thu...",Disneyland_Paris,2015,7,1,pricey worth unfortunately big thunder mountai...,0.115,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,168087311,4,Canada,"Disneyland is a magical place. Everyone, parti...",Disneyland_California,2013,7,1,disneyland magical place everyone particularly...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,282417360,5,Pakistan,Disney land is a must when visiting Paris. The...,Disneyland_Paris,2015,6,1,disney land must visit paris frozen show best ...,0.028,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,160953212,3,India,"The HK Disneyland is definitely small, but it'...",Disneyland_HongKong,2012,9,0,hk disneyland definitely small definitely fun ...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3999,290217727,5,Australia,There's a reason why they call Disneyland The...,Disneyland_California,2015,7,1,there's reason call disneyland happy place ear...,0.042,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4000,174264188,1,United Kingdom,I visited Disneyland Paris with my family (tee...,Disneyland_Paris,2013,8,0,visit disneyland paris family teenage daughter...,0.081,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4001,638583788,5,United States,What a great day we had we did so much before ...,Disneyland_California,2018,12,1,great day much great guide grandson amaze well...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4002,226159775,5,Philippines,It has been a childhood dream of mine to go to...,Disneyland_California,2013,10,1,childhood dream mine go disneyland whether you...,0.000,...,0.0,0.0,0.0,0.432261,0.0,0.0,0.0,0.0,0.0,0.0
4003,143521522,4,United Kingdom,Well my wife and I visted in October 2012 for ...,Disneyland_Paris,2012,10,1,well wife visted october parcs real complaint ...,0.030,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
positive = all_df.loc[all_df['is_good_review'] == 1] 
positive

,Review_ID,Rating,Reviewer_Location,Review_Text,Branch,Year,Month,is_good_review,review_clean,neg,...,word_yet,word_york,word_you,word_young,word_yr,word_yrs,word_yum,word_yummy,word_zero,word_zone
0,122944085,5,United States,Spotlessly clean and so organized considering ...,Disneyland_California,2011,10,1,spotlessly clean organize consider thousand vi...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,290851203,5,United Kingdom,"Pricey but worth it, unfortunately the big thu...",Disneyland_Paris,2015,7,1,pricey worth unfortunately big thunder mountai...,0.115,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,168087311,4,Canada,"Disneyland is a magical place. Everyone, parti...",Disneyland_California,2013,7,1,disneyland magical place everyone particularly...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,282417360,5,Pakistan,Disney land is a must when visiting Paris. The...,Disneyland_Paris,2015,6,1,disney land must visit paris frozen show best ...,0.028,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
5,633178209,5,United States,Went with a group of Disneyfied adults on a we...,Disneyland_HongKong,2018,10,1,go group disneyfied adult week day park deck h...,0.048,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3998,220207400,5,Thailand,"In order to stay for the fireworks, reach disn...",Disneyland_HongKong,2014,7,1,order stay fireworks reach disneyland onwards ...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3999,290217727,5,Australia,There's a reason why they call Disneyland The...,Disneyland_California,2015,7,1,there's reason call disneyland happy place ear...,0.042,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4001,638583788,5,United States,What a great day we had we did so much before ...,Disneyland_California,2018,12,1,great day much great guide grandson amaze well...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4002,226159775,5,Philippines,It has been a childhood dream of mine to go to...,Disneyland_California,2013,10,1,childhood dream mine go disneyland whether you...,0.000,...,0.0,0.0,0.0,0.432261,0.0,0.0,0.0,0.0,0.0,0.0
4003,143521522,4,United Kingdom,Well my wife and I visted in October 2012 for ...,Disneyland_Paris,2012,10,1,well wife visted october parcs real complaint ...,0.030,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
positive.to_csv('Resources/positive_only.csv', index=True)

In [6]:
negative = all_df.loc[all_df['is_good_review'] == 0] 
negative

,Review_ID,Rating,Reviewer_Location,Review_Text,Branch,Year,Month,is_good_review,review_clean,neg,...,word_yet,word_york,word_you,word_young,word_yr,word_yrs,word_yum,word_yummy,word_zero,word_zone
4,160953212,3,India,"The HK Disneyland is definitely small, but it'...",Disneyland_HongKong,2012,9,0,hk disneyland definitely small definitely fun ...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
9,181002689,2,United States,What was supposed to be a magical 9th birthday...,Disneyland_California,2013,10,0,suppose magical birthday trip magic kingdom gr...,0.108,...,0.0,0.0,0.0,0.157613,0.0,0.0,0.0,0.0,0.000000,0.0
17,182759952,1,United States,4 major attractions were closed. We were stuck...,Disneyland_California,2013,10,0,major attraction close stuck rope line close a...,0.189,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
21,130784901,3,Malaysia,I have been visiting Disneyland Paris for a fe...,Disneyland_Paris,2011,6,0,visit disneyland paris time suggestion first t...,0.000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
33,448101963,2,Australia,Normally don't do reviews on attractions. bu...,Disneyland_Paris,2016,12,0,normally review attraction want highlight peop...,0.168,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.201793,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3968,276260362,2,Finland,So this has probbably been my 10th time at thi...,Disneyland_Paris,2015,5,0,probbably time park time visit mother ar gradu...,0.036,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
3982,462018089,3,United States,I knew the park was smaller than the average D...,Disneyland_HongKong,2017,2,0,knew park small average disney property surpri...,0.038,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
3990,123673478,2,United States,HK Disneyland has a typical disneyland layout ...,Disneyland_HongKong,2012,1,0,hk disneyland typical disneyland layout qualit...,0.165,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
3996,393179635,2,Philippines,"If you have been to other Disneyland, keep you...",Disneyland_HongKong,2016,7,0,disneyland keep expectation low visit disneyla...,0.079,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
4000,174264188,1,United Kingdom,I visited Disneyland Paris with my family (tee...,Disneyland_Paris,2013,8,0,visit disneyland paris family teenage daughter...,0.081,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0

In [7]:
negative.to_csv('Resources/negative_only.csv', index=True)